In [40]:
import pandas as pd
import glob as glob

In [41]:
sp_data = pd.read_csv('archive/SP500.csv')
nas_data = pd.read_csv('archive/Nasdaq.csv')
dow_data = pd.read_csv('archive/DowJones.csv')

In [42]:
rate_data = pd.read_csv('rates.csv')

In [43]:
rate_data.head()

,Year,Month,Day,Federal Funds Target Rate,Federal Funds Upper Target,Federal Funds Lower Target,Effective Federal Funds Rate,Real GDP (Percent Change),Unemployment Rate,Inflation Rate
0,1954,7,1,NaN,NaN,NaN,0.80,4.6,5.8,NaN
1,1954,8,1,NaN,NaN,NaN,1.22,NaN,6.0,NaN
2,1954,9,1,NaN,NaN,NaN,1.06,NaN,6.1,NaN
3,1954,10,1,NaN,NaN,NaN,0.85,8.0,5.7,NaN
4,1954,11,1,NaN,NaN,NaN,0.83,NaN,5.3,NaN

In [44]:
sp_data.head()

         Date  Value
0  1977-09-02  97.45
1  1977-09-09  96.37
2  1977-09-16  96.48
3  1977-09-23  95.04
4  1977-09-30  96.53

In [45]:
nas_data.head()

         Date   Value
0  1977-09-02  100.83
1  1977-09-09  100.91
2  1977-09-16  100.74
3  1977-09-23   99.57
4  1977-09-30  100.85

In [46]:
dow_data.head()

         Date   Value
0  1977-09-02  872.31
1  1977-09-09  857.04
2  1977-09-16  856.81
3  1977-09-23  839.14
4  1977-09-30  847.11

In [47]:
duplicates = rate_data[rate_data.duplicated()]
duplicates.head()

Empty DataFrame
Columns: [Year, Month, Day, Federal Funds Target Rate, Federal Funds Upper Target, Federal Funds Lower Target, Effective Federal Funds Rate, Real GDP (Percent Change), Unemployment Rate, Inflation Rate]
Index: []

If duplicated() method returns all False, it indicates that there is no duplicate data in the DataFrame.

In [48]:
rate_data['Date'] = pd.to_datetime(rate_data[['Year', 'Month', 'Day']])
rate_data.head()

,Year,Month,Day,Federal Funds Target Rate,Federal Funds Upper Target,Federal Funds Lower Target,Effective Federal Funds Rate,Real GDP (Percent Change),Unemployment Rate,Inflation Rate,Date
0,1954,7,1,NaN,NaN,NaN,0.80,4.6,5.8,NaN,1954-07-01
1,1954,8,1,NaN,NaN,NaN,1.22,NaN,6.0,NaN,1954-08-01
2,1954,9,1,NaN,NaN,NaN,1.06,NaN,6.1,NaN,1954-09-01
3,1954,10,1,NaN,NaN,NaN,0.85,8.0,5.7,NaN,1954-10-01
4,1954,11,1,NaN,NaN,NaN,0.83,NaN,5.3,NaN,1954-11-01