<h1> Step 1. Import the necessary libraries </h1>

In [117]:
#import libraries
import pandas as pd
import seaborn as sns



#read data
sp_data = pd.read_csv('archive/SP500.csv')
nas_data = pd.read_csv('archive/Nasdaq.csv')
dow_data = pd.read_csv('archive/DowJones.csv')
rate_data = pd.read_csv('rates.csv')

In [118]:
rate_data

,Year,Month,Day,Federal Funds Target Rate,Federal Funds Upper Target,Federal Funds Lower Target,Effective Federal Funds Rate,Real GDP (Percent Change),Unemployment Rate,Inflation Rate
0,1954,7,1,NaN,NaN,NaN,0.80,4.6,5.8,NaN
1,1954,8,1,NaN,NaN,NaN,1.22,NaN,6.0,NaN
2,1954,9,1,NaN,NaN,NaN,1.06,NaN,6.1,NaN
3,1954,10,1,NaN,NaN,NaN,0.85,8.0,5.7,NaN
4,1954,11,1,NaN,NaN,NaN,0.83,NaN,5.3,NaN
...,...,...,...,...,...,...,...,...,...,...
899,2016,12,14,NaN,0.75,0.50,NaN,NaN,NaN,NaN
900,2017,1,1,NaN,0.75,0.50,0.65,NaN,4.8,2.3
901,2017,2,1,NaN,0.75,0.50,0.66,NaN,4.7,2.2
902,2017,3,1,NaN,0.75,0.50,NaN,NaN,NaN,NaN
903,2017,3,16,NaN,1.00,0.75,NaN,NaN,NaN,NaN

In [119]:
sp_data

            Date    Value
0     1977-09-02    97.45
1     1977-09-09    96.37
2     1977-09-16    96.48
3     1977-09-23    95.04
4     1977-09-30    96.53
...          ...      ...
2079  2017-08-04  2476.83
2080  2017-08-11  2441.32
2081  2017-08-18  2425.55
2082  2017-08-25  2443.05
2083  2017-08-29  2446.30

[2084 rows x 2 columns]

In [120]:
nas_data

            Date      Value
0     1977-09-02   100.8300
1     1977-09-09   100.9100
2     1977-09-16   100.7400
3     1977-09-23    99.5700
4     1977-09-30   100.8500
...          ...        ...
2078  2017-08-04  6351.5600
2079  2017-08-11  6256.5600
2080  2017-08-18  6216.5300
2081  2017-08-25  6265.6400
2082  2017-08-29  6301.8857

[2083 rows x 2 columns]

In [121]:
dow_data

            Date     Value
0     1977-09-02    872.31
1     1977-09-09    857.04
2     1977-09-16    856.81
3     1977-09-23    839.14
4     1977-09-30    847.11
...          ...       ...
2077  2017-08-04  22092.81
2078  2017-08-11  21858.32
2079  2017-08-18  21674.51
2080  2017-08-25  21813.67
2081  2017-08-29  21865.37

[2082 rows x 2 columns]

<h1> Step 2. Check the data has duplicate values </h1>

In [122]:
duplicates = rate_data[rate_data.duplicated()]
duplicates

Empty DataFrame
Columns: [Year, Month, Day, Federal Funds Target Rate, Federal Funds Upper Target, Federal Funds Lower Target, Effective Federal Funds Rate, Real GDP (Percent Change), Unemployment Rate, Inflation Rate]
Index: []

<h1> Step 3. Check the data has missing values </h1>

In [123]:
# check for missing values
sp_data.isnull().sum()

nas_data.isnull().sum()

dow_data.isnull().sum()

rate_data.isnull().sum()

Year                              0
Month                             0
Day                               0
Federal Funds Target Rate       442
Federal Funds Upper Target      801
Federal Funds Lower Target      801
Effective Federal Funds Rate    152
Real GDP (Percent Change)       654
Unemployment Rate               152
Inflation Rate                  194
dtype: int64

In [124]:
# drop a row if it has a missing value of Effective Federal Funds Rate column
rate_data.dropna(subset=['Effective Federal Funds Rate'], inplace=True)
rate_data.isnull().sum()

Year                              0
Month                             0
Day                               0
Federal Funds Target Rate       437
Federal Funds Upper Target      654
Federal Funds Lower Target      654
Effective Federal Funds Rate      0
Real GDP (Percent Change)       502
Unemployment Rate                 0
Inflation Rate                   42
dtype: int64

<h1> Step 4. Unify the date format </h1>

In [125]:
rate_data['Date'] = pd.to_datetime(rate_data[['Year', 'Month', 'Day']])
#put Date column as the first column
cols = rate_data.columns.tolist()
cols = cols[-1:] + cols[:-1]
rate_data = rate_data[cols]
rate_data.head()

,Date,Year,Month,Day,Federal Funds Target Rate,Federal Funds Upper Target,Federal Funds Lower Target,Effective Federal Funds Rate,Real GDP (Percent Change),Unemployment Rate,Inflation Rate
0,1954-07-01,1954,7,1,NaN,NaN,NaN,0.80,4.6,5.8,NaN
1,1954-08-01,1954,8,1,NaN,NaN,NaN,1.22,NaN,6.0,NaN
2,1954-09-01,1954,9,1,NaN,NaN,NaN,1.06,NaN,6.1,NaN
3,1954-10-01,1954,10,1,NaN,NaN,NaN,0.85,8.0,5.7,NaN
4,1954-11-01,1954,11,1,NaN,NaN,NaN,0.83,NaN,5.3,NaN

In [126]:
# drop unnecessary columns
# drop Year, Month, Day columns
rate_data.drop(['Year', 'Month', 'Day'], axis=1, inplace=True)
rate_data.head()

C:\Users\ninan.PLSNO\AppData\Local\Temp\ipykernel_6752\1806373198.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rate_data.drop(['Year', 'Month', 'Day'], axis=1, inplace=True)

,Date,Federal Funds Target Rate,Federal Funds Upper Target,Federal Funds Lower Target,Effective Federal Funds Rate,Real GDP (Percent Change),Unemployment Rate,Inflation Rate
0,1954-07-01,NaN,NaN,NaN,0.80,4.6,5.8,NaN
1,1954-08-01,NaN,NaN,NaN,1.22,NaN,6.0,NaN
2,1954-09-01,NaN,NaN,NaN,1.06,NaN,6.1,NaN
3,1954-10-01,NaN,NaN,NaN,0.85,8.0,5.7,NaN
4,1954-11-01,NaN,NaN,NaN,0.83,NaN,5.3,NaN

<h1> Step 5. Simplify the data </h1>